header span {
    position: absolute;
    top: 36%;
    left: 46%;
    font-size: 28px;
    color: #fff;
    width: 100;
}

.para {
    margin-left: 13%;
    width: 75%;
}

.btn-success {
    margin-left: 42%;
    margin-top: 2%;
    cursor: pointer;
}

h2 {
    color: cadetblue;
}

section {
    margin-top: 20px;
    align-items: center;
}

#txt1 {
    padding: 2em;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #218838;
}

#txt {
    padding: 1em;
    font-size: 20px;
    font-family: "Oswald", cursive, 'Poppins', sans-serif;
    color: blue;
}

#btnShow {
    border-radius: 30px;
    background-color: aqua;
}

.button {
    margin-top: 35%;
    margin-left: 40%;
}